/*html{
font-size: 16px;
}*/
.container{
    width: 600px;
    height: 400px;
    border: 4px solid black;
    background-image: url(./assets/image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*font-size:20px;*/
}

.details{
    font-size:x-large;
    color:aliceblue;
    /*background-color:beige*/
    height: 100%;
    margin: 0px;
    backdrop-filter: blur(5px);
    display: none;
    text-align: center;
}

.container:hover>.details{
    display: block;
}

